<app-navbar></app-navbar>
<router-outlet></router-outlet>

<div class="auth-container">
  <div class="auth-form">
    <h2>Sign up</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="register-email">Email</label>
        <input type="email" id="register-email" [(ngModel)]="username" name="email" placeholder="someone@example.com" required />
      </div>
      <div class="form-group">
        <label for="register-password">Password</label>
        <input type="password" id="register-password" [(ngModel)]="password" name="password" placeholder="Create a password" required />
      </div>
      <div class="form-group">
        <label for="confirm-password">Confirm Password</label>
        <input type="password" id="confirm-password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirm your password" required />
      </div>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <button type="submit" class="btn-register">Register</button>
    </form>
    <div class="login-link">
      <p>Already have an account? <a routerLink="/login">Login here.</a></p>
    </div>
  </div>
</div>