<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar-project</a>
      <div class="side d-flex me-auto mb-2 mb-lg-0">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link" (click)="navigateToMicroFrontend('home')">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="navigateToMicroFrontend('login')">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="navigateToMicroFrontend('carousel')">Carousel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="navigateToMicroFrontend('listpage')">ListPage</a>
          </li>
        </ul>
      </div>
  
      <button (click)="toggleSidebar()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
  